torch
torchmetrics
nerfacc
opencv-python
imageio
imageio-ffmpeg
numpy
tqdm
scipy
lpips
# after automatic installation please manually execute pip install git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
